@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
*{
    margin:0;
    padding: 0;

}
.enviosInfo{
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
    color: white;
    background-color: rgb(57, 61, 51);
    text-align: center;
    
}
.navList{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: linear-gradient(0deg, rgba(100,95,74,0.82) 55%, rgba(166, 162, 157, 0.95) 100%);
    padding-left: 5px;

    .linkNav{
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        font-family: 'Varela Round', sans-serif;
        position: relative;
    }
  
    .linkNav:after{
        content:"";
        display: block;
        width: 0;
        height: 1.5px;
        background: rgba(166, 162, 157, 0.95);
        position: absolute;
        left: 50%;
        transition: all 0.6s;
    }
    .linkNav:hover:after{
        width: 100%;
        left: 0;
    }
    a{
        img{
            margin-top: 3px;
        }
    }
}

